<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hello.seoulnuri">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 우측 상단에 그 현재 위치 버튼을 추가하기 위함 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- API 9 이상부터 버그가 있어서 이거 추가해줘야함 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4t8F1Tl2eu2gWU_cCP-881iKHQS-RM-U" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Login" />
        <activity
            android:name=".LoginCategoryActivity"
            android:theme="@style/Login" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Main" />
        <activity
            android:name=".Planner.PlannerStartActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Login" />
        <activity android:name=".Planner.PlannerAddOneActivity" />
        <activity
            android:name=".Planner.PlannerAddFourActivity"
            android:theme="@style/Splash" />
        <activity android:name=".Planner.PlannerAddPathCheckActivity"></activity>
    </application>

</manifest>